[flake8]
ignore = D203, D100
exclude =
    .git,
    __pycache__,
max-complexity = 10
max-line-length = 100

per-file-ignores =
    *.py: F401
    __init__.py: D104
    test_*: D100, D101, D102, F401


percent-greedy=2
format-greedy=2

#flake8-docstrings
docstring-convention=google
