black==22.3.0
flake8==4.0.1
flake8-docstrings==1.6
flake8-use-fstring==1.4
pydocstyle==6.1.1
pylint==2.4.4
autopep8==1.6.0
pydocstyle==6.1.1
pre-commit==3.0.4
isort==4.3.21
firebase-admin==6.1.0
investpy==1.0.8
yfinance==0.2.10
tqdm==4.64.1
pyarrow==11.0.0
fastparquet==2023.2.0
panel==0.14.4
jupyter-bokeh==3.0.5
plotly==5.13.1
